<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let wine"> {{wine.name}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let wine"> {{wine.type}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let wine"> {{wine.color}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let wine"> {{wine.year}} </td>
  </ng-container>

  <ng-container matColumnDef="light">
    <th mat-header-cell *matHeaderCellDef> Light </th>
    <td mat-cell *matCellDef="let wine"> 
        <button 
          (click)="toggleLight(wine)" 
          *ngIf="wine.light_status" 
          mat-mini-fab 
          color="primary"
        >
          On
        </button>
        <button 
          (click)="toggleLight(wine)" 
          *ngIf="!wine.light_status" 
          mat-mini-fab color="warn"
        >
          Off
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>